/* General Styles */  
body {  
    font-family: 'Arial', sans-serif;  
}  

h1 {  
    color: #333;  
}  

/* Navbar */  
.navbar {  
    background-color: #f8f9fa;  
}  

.nav-link {  
    color: #555;  
}  

.nav-link:hover {  
    color: #007bff;  
}  

/* Cards */  
.card {  
    display: flex;  
    flex-direction: column;  
}  

.card-img-top {  
    height: 250px;  
    object-fit: cover;  
}  

/* Asegurarse de que todas las imágenes sean del mismo tamaño */  
.product-image {  
    height: 250px; /* Puedes ajustar este valor */  
    width: 100%; /* Asegura que ocupe todo el ancho disponible */  
    object-fit: cover; /* Recorta la imagen según sea necesario */  
    transition: transform 0.3s ease, opacity 0.3s ease; /* Animación suave al hacer hover */  
}  

.product-image:hover {  
    transform: scale(1.1); /* Aumentar tamaño al pasar el mouse */  
    opacity: 0.9; /* Cambia la opacidad al pasar el mouse */  
}  

.card-body {  
    flex-grow: 1;  
    display: flex;  
    flex-direction: column;  
    justify-content: space-between;  
}  

.card-body .card-title {  
    margin-bottom: 10px;  
    font-weight: bold; /* Poner el texto en negrita */  
}  

.card-body .card-text {  
    margin-bottom: 20px;  
}  

/* Contenedor del botón */  
.btn-container {  
    text-align: center; /* Centra el contenido del contenedor */  
    padding: 10px; /* Espaciado interno */  
}  

/* Estilos del botón */  
.btn-cart {  
    background-color: #00bcd4; /* Color celeste */  
    color: white; /* Color del texto del botón */  
    border: none; /* Sin borde */  
    padding: 10px 20px; /* Espaciado interno */  
    border-radius: 5px; /* Bordes redondeados */  
    cursor: pointer; /* Cambia el cursor al pasar por encima */  
    width: 100%; /* Hace que el botón ocupe todo el ancho disponible */  
}  

.btn-cart:hover {  
    background-color: #0097a7; /* Color de fondo al pasar el mouse */  
}  

/* Footer */  
footer {  
    background-color: #f8f9fa;  
    padding: 40px 0;  
}  

footer h5 {  
    font-size: 18px;  
    margin-bottom: 20px;  
}  

footer p, footer ul, footer li {  
    font-size: 14px;  
    color: #666;  
}  

footer ul {  
    padding-left: 0; /* Valor agregado aquí */  
}